<%@evaluations.each_with_index do |evaluation,index|%>
<tr class="text-center">
	<td><%=index+1%></td>
	<td><%=evaluation.engine%></td>
	<td><%=evaluation.nodes%></td>
	<td><%=evaluation.evaluation%></td>
</tr>
<%end%>