        <%_.each(tags,function(tag,indicator){%>
             <li class="position-tag" >
                 <a >
                     <span class="badge pull-right"><%=tag[1]%></span>
                        <%=tag[0]%> 

                 
                 </a>
             </li>
        <%})%>
