        <%_.each(tags,function(tag,indicator){%>
             <li class="position-tag" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                 <a >
                     <i class="glyphicon glyphicon-thumbs-up"></i> 
                        <%=tag%> 
                     <i class="glyphicon glyphicon-thumbs-down"></i>
                 </a>
             </li>
        <%})%>
