{{render navbar}}

<div class="container main-container">
	<br>
{{render alert}}

  <div class="alert alert-danger javascript-alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  <div class="alert alert-success javascript-alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {{outlet}}
</div>
</body>
</html>

