
<nav class="navbar  navbar-inverse navbar-fixed-top" role="navigation">

  <div class="container">
  <div class="navbar-header">
  <i id="navbar-tower" class="navbar-brand glyphicon glyphicon-tower"></i>
    {{#link-to "home" class="navbar-brand"}}
    {{#view EngineEval.NavbarClickView}}CHESSPRIME{{/view}}{{/link-to}}
  </div>
    <ul class="nav navbar-nav">
       {{#if isAuthenticated}}
       <li>{{#link-to "profile.events" currentUser.id 1}}{{#view EngineEval.NavbarClickView}}My Profile{{/view}}{{/link-to}}</li>
      {{/if}}
        <li><a {{action "viewFen"}}>{{#view EngineEval.NavbarClickView}}Analysis{{/view}}</a></li>
       <li>{{#link-to 'howto'}}{{#view EngineEval.NavbarClickView}}Tutorial{{/view}}{{/link-to}}</li>
        <li>{{#link-to 'support'}}{{#view EngineEval.NavbarClickView}}Support{{/view}}{{/link-to}}</li>

        

    </ul>

    <ul class="nav navbar-nav navbar-right">
      {{#if isAuthenticated}}
          <li> {{#link-to "edit"}}{{#view EngineEval.NavbarClickView}}{{currentUser.profile_name}}{{/view}}{{/link-to}} </li>
          <li><a {{action "logout"}}>Logout</a></li>
          {{else}}
          <li>{{#link-to "register"}}{{#view EngineEval.NavbarClickView}}Register{{/view}}{{/link-to}}</li>
          <li>{{#link-to "login"}}{{#view EngineEval.NavbarClickView}}Log in{{/view}}{{/link-to}}</a></li>
        {{/if}}
    
    </ul>

  </div>
</nav>