<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {{#link-to "positions" class="navbar-brand"}}Chess Analysis{{/link-to}}
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
       {{#if isAuthenticated}}
       <li><a>My Profile</a></li>
      {{/if}}
       <li>{{#link-to 'howto'}}How To{{/link-to}}</li>
        <li>{{#link-to 'support'}}Support{{/link-to}}</li>
        

    </ul>

    <ul class="nav navbar-nav navbar-right">
      {{#if isAuthenticated}}
          <li><a {{action edit}}>{{currentUser.profile_name}}</a> </li>
          <li><a {{action logout}}>Logout</a></li>
          {{else}}
          <li>{{#link-to register}}Register{{/link-to}}</li>
          <li>{{#link-to "login"}}Log in{{/link-to}}</a></li>
        {{/if}}
    
    </ul>
  </div>
  </div>
</nav>