{{render "navbar"}}

<div class="container" id="main-container">
{{render "alert"}}

    {{outlet}}
</div>
<footer class="footer text-center">
   Copyright <i class="glyphicon glyphicon-copyright-mark"></i> ChessPrime 2014
</footer>
</body>

</html>

