{{render "navbar"}}

<div class="container" id="main-container">
<div class="alert alert-info">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	This is a pre-release version.  Look-around but there are still bugs.  Submit your email and we will let you know when the site is ready. Thanks for Coming!
</div>
{{render "alert"}}

    {{outlet}}
</div>
<footer class="footer text-center">
   Copyright <i class="glyphicon glyphicon-copyright-mark"></i> ChessPrime 2014
</footer>
</body>

</html>

