<%@position.tactic_list.each do |name|%>
<li class="position-tag" data-toggle="tooltip" title="Tooltip on left"s>
    <a >
        <i class="glyphicon glyphicon-thumbs-up"></i> 
                        <%=name%> 
        <i class="glyphicon glyphicon-thumbs-down"></i>
    </a>
</li>
<%end%>