<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>
<%if Rails.env.development?%>
<p><%= link_to 'Change my password', "http://0.0.0.0:3000/#/change_password/"+@token %></p>
<%else%>
<p><%= link_to 'Change my password', "http://www.chessprime.com/#/change_password/"+@token %></p>
<%end%>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
